@import 'variables.less';

html, body, #cnm-root {
  width: 100%;
  height: 100%;
}

.cnm-app {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
  -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;

  > main {
    padding-top: 50px;

    &.detailed {
      padding-top: 0;

      .hint {
        display: none;
      }
    }

    > .hint {
      position: absolute;
      top: 16px;
      left: 0;
      right: 0;
      text-align: center;
      font-size: smaller;
      color: #aaa;
    }

    > span {
      width: 100%;
    }
  }

  > footer {
    display: flex;
    height: @cnm-footer-height;
    flex-shrink: 0;
  }
}

@import 'buttons.less';
